<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="stylesheet.css">
<title>一枚メモ</title>
</head>

<body>
    <div class="wrap1">
        <h1 class="page-title">一枚メモ</h1>
        <form action="/" method="post" action="">
        <textarea name="memo" class="box1" rows="15" cols="60" placeholder="Here is a some text input.&#13;&#10;&#13;&#10;Here is another paragraph of input."></textarea>
            <div class="container1"></div>
                <p class="data1">最終更新日：2020/03/03 10:12:23</p>
                <button class="button">保存</button>
                <button class="button" type="reset">リセット</button>
            </div>
        </form>
    </div>
</body>
</html>